@import "tailwindcss";

:root {
  --app-brightness: 100%;
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

/* Selection */
::selection {
  background-color: #f97316;
  color: #ffffff;
}
